body {
    background-image: url("http://www.uidownload.com/files/630/1019/660/twitter-pattern.jpg");
    font-family: 'Sofia';

}

div {
    font-family: 'Sofia';
    /*font-size: 200%;*/
}

a {
    font-family: 'Sofia';
}

h1 {
    font-family: 'Sofia';
    font-size: 200%;
}

p, form {
    font-family: 'Sofia';
    font-size: 22px;
}

.after-box {
    clear: right;
}

.after {
    clear: left;
}

#left {
    width: 500px;
    margin: 5px;
    float: left;
}

#center {
    margin: 5px 0;
    width: 500px;
    float: left;
}

#middle {
    max-width: 500px;
    margin-left: 500px;
    margin-top: 5px;
    float: left;
}

#right {
    margin: 5px;
    width: 500px;
    float: right;
    font-size: 22px;
}

.big-font {
    font-size: 200%;
}

#background {
    background-image: url(http://findicons.com/files/icons/1676/primo/128/label_blue_new.png);
    background-repeat: no-repeat;
}